@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

nav ul {
  list-style-type: none;
  background-color: black;
  width: 100%;
  overflow: hidden;
}

nav ul li {
  line-height: 2.5em;
  float: left;
}

nav a {
  color: #e6d9d9;
  display: block;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 0.5vh 3.5vw;
}

nav a:hover {
  background: rgba(58, 54, 54, 0.5);
  font-size: 1.25em;
}

@media (max-width: 1200px) {
  nav a {
    padding: 0.5vh 2.5vw;
  }
}

@media (max-width: 600px) {
  nav a {
    padding: 0.5vh 1.5vw;
  }
}

@media (max-width: 300px) {
  nav a {
    padding: 0.5vh 1vw;
  }
}

html, body {
  height: 100%;
}

body {
  background: -webkit-gradient(linear, left bottom, right top, color-stop(40%, #99d9ea), color-stop(70%, #2493ae), color-stop(95%, #114451));
  background: linear-gradient(left bottom, #99d9ea 40%, #2493ae 70%, #114451 95%);
  color: white;
  font-family: Arial;
  font-size: 16px;
  margin: 0;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

/* Estilos para el área donde se mostrará la imagen de la figura geométrica */
#figura {
  margin-top: 10%;
}

header {
  margin-top: 5%;
}

#figura div {
  display: block;
  height: 120px;
  margin: 0 auto;
  width: 120px;
}

header h1 {
  color: #fff;
  font: Bold 3.2em Tahoma,Helvetica,"Liberation Sans",sans-serif;
  text-align: center;
  text-shadow: 0 0 2px #ccc, -1px -1px 0 #6e981b, -2px -2px 1px #6e981b, -2px -2px 2px #282a22;
}

#menu ul {
  font-size: 0;
  padding: 0;
}

#menu ul li {
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  padding: 10px 0;
  vertical-align: top;
  width: 30%;
}

#menu ul li:hover {
  background: rgba(0, 0, 120, 0.25);
}

#menu ul li img {
  display: block;
  height: 125px;
  margin: 0 auto;
  width: 132px;
}

#menu ul li a {
  color: #DDD;
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#menu ul li a:hover {
  color: #F6F600;
}

#menu_back {
  background: -webkit-gradient(linear, left bottom, right top, color-stop(40%, #271e6b), color-stop(70%, #0b062b), color-stop(85%, #02020a));
  background: linear-gradient(left bottom, #271e6b 40%, #0b062b 70%, #02020a 85%);
  margin: 0 auto;
  max-width: 960px;
}

#menu ul li {
  height: auto;
  width: 320px;
}

.back-button {
  background-color: #cd7d7d;
  /* #0960C9 */
  color: #ccc;
  display: block;
  font-size: 1.2em;
  font-weight: Bold;
  height: 50px;
  margin: 32px auto;
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 24%;
}

.back-button:hover {
  background-color: rgba(225, 135, 130, 0.75);
  color: #fff;
  text-decoration: none;
}

.circulo {
  border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  -o-border-radius: 75px;
  -webkit-border-radius: 75px;
  background: navy;
}

.rectangulo {
  background-color: #D336C6;
  width: 15%;
}

.triangulo {
  border-color: transparent transparent yellow transparent;
  border-style: solid;
  border-width: 90px;
  height: 0;
  width: 0px;
}
/*# sourceMappingURL=areas.css.map */