@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

nav ul {
  list-style-type: none;
  background-color: black;
  width: 100%;
  overflow: hidden;
}

nav ul li {
  line-height: 2.5em;
  float: left;
}

nav a {
  color: #e6d9d9;
  display: block;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 0.5vh 3.5vw;
}

nav a:hover {
  background: rgba(58, 54, 54, 0.5);
  font-size: 1.25em;
}

@media (max-width: 1200px) {
  nav a {
    padding: 0.5vh 2.5vw;
  }
}

@media (max-width: 600px) {
  nav a {
    padding: 0.5vh 1.5vw;
  }
}

@media (max-width: 300px) {
  nav a {
    padding: 0.5vh 1vw;
  }
}

html, body {
  height: 100%;
}

body {
  background: #f7f779;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+*/
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f779), to(#eaf490));
  background: linear-gradient(to bottom, #f7f779 0%, #eaf490 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f779', endColorstr='#eaf490',GradientType=0 );
  /* IE6-9 */
  height: 100%;
}

body h1 {
  background: rgba(0, 155, 125, 0.8);
  color: #FFFFFF;
  font: normal 4.2em Arial,Helvetica,"Liberation Sans";
  padding: 6px 0;
  text-align: center;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

body .menu {
  overflow: hidden;
  width: 100%;
}

body .menu a span {
  position: relative;
  top: 40%;
}

body .menu a:hover {
  background: #a71b15;
}

body .menu li {
  display: inline;
  margin: 0;
}

body .menu li a {
  background: #b72236;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 3px 0px rgba(75, 25, 25, 0.75);
  -o-box-shadow: 5px 5px 3px 0px rgba(75, 25, 25, 0.75);
  -ms-box-shadow: 5px 5px 3px 0px rgba(75, 25, 25, 0.75);
  box-shadow: 5px 5px 3px 0px rgba(75, 25, 25, 0.75);
  color: white;
  display: inline-block;
  height: 100px;
  margin-right: 5px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  width: 100px;
}

body .menu li a:visited {
  color: white;
}

body .menu ul {
  font: bold 14px Verdana;
  list-style-type: none;
  margin: 36px auto;
  padding: 0;
  text-align: center;
}

body .menu ul li {
  margin: 0 12px;
}
/*# sourceMappingURL=calculadora.css.map */