//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

//ediciones generales
*{	
	margin:0;
	padding:0;
}

body{
	font-family: 'Montserrat', sans-serif;
}

//nav bar
nav {

    ul{
        list-style-type: none;
        background-color: black;
	    width: 100%;
        overflow:hidden;
        li{
            line-height: 2.5em;
            float: left;
        }
    }

    a{
        color: rgb(230, 217, 217);
        display: block;
        text-decoration:none;
        transition: 0.5s;
        padding: 0.5vh 3.5vw;
    }

    a:hover{
        background:rgba(58, 54, 54, 0.5);
        font-size: 1.25em;
    }    
}

@media (max-width: 1200px){
    nav{
        a{
            padding: 0.5vh 2.5vw;
        }
    }
}

@media (max-width: 600px){
    nav{
        a{
            padding: 0.5vh 1.5vw;
        }
    }
}

@media (max-width: 300px){
    nav{
        a{
            padding: 0.5vh 1vw;
        }
    }
}

//cards

.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
}

.main-header {
    height: 55vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    p {
      font-size: 2rem;
    }
  
    h1 {
      font-size: 4rem;
      margin-bottom: 2rem;
      line-height: 1.2;
  
      span {
        color: #ff0000;
      }
    }
  }

img {
  height: 100%;
  justify-self: center;
}

 .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background: #dddcdc;
    margin-bottom: 2rem;
    border-radius: 15px;
    h3 {
      font-size: 2em;
      margin-bottom: 2rem;
    }
  
    img{
      height: 400px;
    }
}

.card > div {
    padding: 2rem;
  }
  
.card:nth-child(even) img {
  order: 2;
}
  
@media(max-width:600px) {
  .main-header{
    margin: 25vh 0;
  }

  .card {
    display: block;
  }
}