@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

nav ul {
  list-style-type: none;
  background-color: black;
  width: 100%;
  overflow: hidden;
}

nav ul li {
  line-height: 2.5em;
  float: left;
}

nav a {
  color: #e6d9d9;
  display: block;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 0.5vh 3.5vw;
}

nav a:hover {
  background: rgba(58, 54, 54, 0.5);
  font-size: 1.25em;
}

@media (max-width: 1200px) {
  nav a {
    padding: 0.5vh 2.5vw;
  }
}

@media (max-width: 600px) {
  nav a {
    padding: 0.5vh 1.5vw;
  }
}

@media (max-width: 300px) {
  nav a {
    padding: 0.5vh 1vw;
  }
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}

.main-header {
  height: 55vh;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.main-header p {
  font-size: 2rem;
}

.main-header h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.main-header h1 span {
  color: #ff0000;
}

img {
  height: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #dddcdc;
  margin-bottom: 2rem;
  border-radius: 15px;
}

.card h3 {
  font-size: 2em;
  margin-bottom: 2rem;
}

.card img {
  height: 400px;
}

.card > div {
  padding: 2rem;
}

.card:nth-child(even) img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (max-width: 600px) {
  .main-header {
    margin: 25vh 0;
  }
  .card {
    display: block;
  }
}
/*# sourceMappingURL=Indexstyle.css.map */