@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

nav ul {
  list-style-type: none;
  background-color: black;
  width: 100%;
  overflow: hidden;
}

nav ul li {
  line-height: 2.5em;
  float: left;
}

nav a {
  color: #e6d9d9;
  display: block;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 0.5vh 3.5vw;
}

nav a:hover {
  background: rgba(58, 54, 54, 0.5);
  font-size: 1.25em;
}

@media (max-width: 1200px) {
  nav a {
    padding: 0.5vh 2.5vw;
  }
}

@media (max-width: 600px) {
  nav a {
    padding: 0.5vh 1.5vw;
  }
}

@media (max-width: 300px) {
  nav a {
    padding: 0.5vh 1vw;
  }
}

div {
  width: 100vw;
  height: 60vh;
  background-color: gray;
}

div img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

div img:hover {
  width: 80%;
  height: 80%;
}
/*# sourceMappingURL=temperatura.css.map */