//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

//ediciones generales
*{	
	margin:0;
	padding:0;
}

body{
	font-family: 'Montserrat', sans-serif;
}

//nav bar
nav {

    ul{
        list-style-type: none;
        background-color: black;
	    width: 100%;
        overflow:hidden;
        li{
            line-height: 2.5em;
            float: left;
        }
    }

    a{
        color: rgb(230, 217, 217);
        display: block;
        text-decoration:none;
        transition: 0.5s;
        padding: 0.5vh 3.5vw;
    }

    a:hover{
        background:rgba(58, 54, 54, 0.5);
        font-size: 1.25em;
    }    
}

@media (max-width: 1200px){
    nav{
        a{
            padding: 0.5vh 2.5vw;
        }
    }
}

@media (max-width: 600px){
    nav{
        a{
            padding: 0.5vh 1.5vw;
        }
    }
}

@media (max-width: 300px){
    nav{
        a{
            padding: 0.5vh 1vw;
        }
    }
}

form{
    background-color: lightcoral;
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 100px;

    input{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .boton{
        padding: 20px;
        text-decoration: none;
    }
}

