* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.floor .text {
  color: white;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.floor-1 {
  background: #f9b233;
}
.floor-2 {
  background: #71b5e5;
}
.floor-3 {
  background: #b3ce4a;
}
.floor-4 {
  background: #eb5d45;
}
.floor-5 {
  background: #4aaeb6;
}
.floor-6 {
  background: #e7dfbf;
}
.floor-7 {
  background: #ca9e67;
}
.floor-8 {
  background: #4fade3;
}
.floor-9 {
  background: #80fdf7;
}
.floor-10 {
  background: #a4f6eb;
}
.up {
  position: absolute;
  bottom: 75px;
  right: 50px;
}
.down {
  position: absolute;
  bottom: 25px;
  right: 50px;
}
.left {
  position: absolute;
  bottom: 50px;
  right: 60px;
}
.right {
  position: absolute;
  bottom: 50px;
  right: 32px;
}
