@font-face {
 font-family: 'YanoneKaffeesatzRegular';
src: url('../fonts/YanoneKaffeesatz-Regular-webfont.eot');
src: url('../fonts/YanoneKaffeesatz-Regular-webfont.eot?#iefix') format('embeddedopentype'),
url('../fonts/YanoneKaffeesatz-Regular-webfont.woff') format('woff'),
url('../fonts/YanoneKaffeesatz-Regular-webfont.ttf') format('truetype'),
url('../fonts/YanoneKaffeesatz-Regular-webfont.svg#YanoneKaffeesatzRegular')
format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'BebasNeueRegular';
src: url('../fonts/BebasNeue-webfont.eot');
src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
 url('../fonts/BebasNeue-webfont.woff') format('woff'),
 url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
 url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic.eot');
    src: url('../fonts/League_Gothic.woff') format('woff'),
    url('../fonts/League_Gothic.otf') format('opentype'),
    url('../fonts/League_Gothic.svg#LeagueGothic') format('svg');
}