* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    /* Old browsers */
    background: #d8e0de; 
    /* FF3.6+ */
    background: -moz-linear-gradient(top, #d8e0de 0%, #aebfbc 22%, #99afab 40%, #8ea6a2 59%, #829d98 75%, #4e5c5a 90%, #303d31 100%); 
    /* Chrome,Safari4+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8e0de), color-stop(22%,#aebfbc), color-stop(40%,#99afab), color-stop(59%,#8ea6a2), color-stop(75%,#829d98), color-stop(90%,#4e5c5a), color-stop(100%,#303d31)); 
    /* Chrome10+,Safari5.1+ */
    background: -webkit-linear-gradient(top, #d8e0de 0%,#aebfbc 22%,#99afab 40%,#8ea6a2 59%,#829d98 75%,#4e5c5a 90%,#303d31 100%); 
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #d8e0de 0%,#aebfbc 22%,#99afab 40%,#8ea6a2 59%,#829d98 75%,#4e5c5a 90%,#303d31 100%); 
    /* IE10+ */
    background: -ms-linear-gradient(top, #d8e0de 0%,#aebfbc 22%,#99afab 40%,#8ea6a2 59%,#829d98 75%,#4e5c5a 90%,#303d31 100%); 
    /* W3C */
    background: linear-gradient(to bottom, #d8e0de 0%,#aebfbc 22%,#99afab 40%,#8ea6a2 59%,#829d98 75%,#4e5c5a 90%,#303d31 100%); 
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e0de', endColorstr='#303d31',GradientType=0 ); 
    color: #163303;
    font-family: Tahoma,Helvetica,"Liberation Sans";
    font-size: 16px;
}

h1 {
    color: transparent;
    filter:progid:DXImageTransform.Microsoft.DropShadow(color=#1E3C05, offX=1, offY=1);
    font-family: "Anton", serif;
    font-size: 3.6em;
    text-align: center;
    text-shadow: rgba(30, 60, 5, 0.35) 0 0px 0px, 
                 rgba(0, 30, 0, 0.08) 0px 2px 2px, 
                 rgba(0, 30, 0, 0.20) 0px 2px 1px, 
                 rgba(0, 30, 0, 0.40) 0px 2px 1px, 
                 rgba(0, 0, 0, 0.08) -5px 5px 2px;
}

h3 {
    border-left: 6px solid #8A3C10;
    color: #8A3C10;
    font-size: 1.3em;
    margin-bottom: 16px;
    padding-left: 16px;
}

img{
    border: 4px solid #ccc;
    float: left;
    margin: 5px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
  
img:hover {
    margin-top: 2px;
}

.content-box {
    padding: 12px 16px;
    text-align: justify;
    clear: both;
}