@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../../src/fonts/League_Gothic.eot');
    src: url('../../src/fonts/League_Gothic.eot?#iefix') format('embedded-opentype'),
         url('../../src/fonts/League_Gothic.woff') format('woff'), 
         url('../../src/fonts/League_Gothic.otf') format('opentype'), 
         url('../../src/fonts/League_Gothic.svg#LeagueGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}