@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('../../src/fonts/chunkfive-webfont.eot');
    src: url('../../src/fonts/chunkfive-webfont.eot?iefix') format('eot'),
         url('../../src/fonts/chunkfive-webfont.woff') format('woff'),
         url('../../src/fonts/chunkfive-webfont.ttf') format('truetype'),
         url('../../src/fonts/chunkfive-webfont.svg#webfont6hibqX7I') format('svg');
    font-weight: normal;
    font-style: normal;
}