table {
    background-color: black;
    border: round($number: 0.5) 3px SlateBlue;
}

td    {
    background-color: rgb(212, 189, 124);
    color:SlateBlue;
    height:50px;
    text-align:center;
    font-family:"Lucida Sans";
    font-size:1em;
    font-weight:500;
    width:100px;
}