table {
  background-color: black;
  border: 1 3px SlateBlue;
}

td {
  background-color: #d4bd7c;
  color: SlateBlue;
  height: 50px;
  text-align: center;
  font-family: "Lucida Sans";
  font-size: 1em;
  font-weight: 500;
  width: 100px;
}
/*# sourceMappingURL=ventas diarias.css.map */