<!-- content4.html -->
<div class="browser-box">
	<h1>Opera</h1>
    <p>
        <img src="../../css/g9/ejemplo3/img/opera-logo.png" alt="Logo de Opera" />
        Opera es un navegador web creado por la empresa noruega Opera Software. 
        Usa el motor de renderizado Blink. Los sistemas operativos compatibles 
        con Opera son Microsoft Windows y Mac OS X. Los usuarios de GNU/Linux y 
        FreeBSD deben instalar versiones antiguas que tengan el motor Presto.
    </p>
    <p>
        Hay versiones de Opera para teléfonos móviles y tabletas. Los sistemas 
        operativos móviles soportados son Maemo, BlackBerry, Symbian, Windows 
        Mobile, Android e iOS; así como la plataforma Java ME.
    </p>
    <p>
        Opera ha sido pionero en originar características que han sido posteriormente 
        adoptadas por otros navegadores web, como por ejemplo el Acceso Rápido 
        (Speed Dial).
    </p>
    <p>
        El navegador comenzó en 1994 como un proyecto de investigación en Telenor, 
        una empresa de telecomunicaciones noruega. En 1995, la empresa se ramificó 
        y quedó en manos de Opera Software. La primera versión pública del software 
        vio la luz el 22 de abril de 1996 en su versión 2.0, la cual solo funcionaba 
        en Microsoft Windows. La versión 3.0, lanzada el 1 de diciembre de 1997 
        introdujo el bloqueo de ventanas emergentes. En 1998 se desarrolló el primer 
        navegador para dispositivos móviles. Opera 4.0, publicado el 28 de junio 
        del 2000, incluyó la navegación por pestañas.
    </p>
</div>