<!-- content3.html -->
<div class="browser-box">
	<h1>Microsoft Internet Explorer</h1>
	<p>
        <img src="../../css/g9/ejemplo3/img/internet-explorer-logo.png" alt="Logo de Microsoft Internet Explorer" />
        Internet Explorer mejor conocido como IE, es un navegador web desarrollado 
        por Microsoft para el sistema operativo Microsoft Windows desde 1995. 
        Es el navegador web más utilizado de Internet desde 1999 hasta el , con 
        un pico máximo de cuota de utilización del 95% entre el 2002 y 2003. 
        Sin embargo, dicha cuota de mercado ha disminuido paulatinamente con los 
        años debido a una renovada competencia por parte de otros navegadores, 
        logrando aproximadamente entre el 30% y 54% en 2012, y aún menos, cuando 
        logra ser superado por Google Chrome, dependiendo de la fuente de medición 
        global. La situación empeora cada vez más en el 2012 cuando tuvo un bajón 
        del 53% al 33% con respecto al 2011 y en 2013 hasta el momento su cuota 
        sigue en descenso con un 27% de la cuota hasta el momento.
    </p>
    <p>
        Su versión más reciente es Internet Explorer 11, que está disponible para 
        Windows 7 SP1,5 Windows 8 y Windows 8.1. Los sistemas operativos Windows 
        Vista, Windows XP, Windows Server 2003 y anteriores no están soportados. 
        Esta nueva versión de Internet Explorer incorpora considerables avances 
        en la interpretación de estándares web respecto a sus precursores, como 
        el soporte para CSS3, SVG, HTML5 (incluyendo las etiquetas <audio>, <video> 
        y <canvas>), el formato de archivo tipográfico web "WOFF", además de incluir 
        mejoras de rendimiento como la aceleración por hardware para el proceso de 
        renderizado de páginas web y un nuevo motor de JavaScript denominado Chakra.
    </p>
</div>