<!-- content1.html -->
<div class="browser-box">
	<h1>Google Chrome</h1>
	<p>
	    <img src="../../css/g9/ejemplo3/img/chrome-Logo.png" alt="Logo Google Chrome" />
	    Google Chrome es un navegador web desarrollado por Google y compilado 
	    con base en varios componentes e infraestructuras de desarrollo de 
	    aplicaciones (frameworks) de código abierto, como el motor de 
	    renderizado Blink (bifurcación o fork de WebKit). Está disponible 
	    gratuitamente bajo condiciones de servicio específicas. El nombre 
	    del navegador deriva del término en inglés usado para el marco de la 
	    interfaz gráfica de usuario («chrome»).
	</p>
    <p>
        Cuenta con más de 750 millones de usuarios, y dependiendo de la fuente 
        de medición global, puede ser considerado el navegador más usado de Internet 
        variando hasta el segundo puesto, algunas veces logrando la popularidad 
        mundial en la primera posición. Su cuota de mercado se situaba aproximadamente 
        entre el 17 % y 32 % a finales de junio de 2012, con particular éxito en 
        la mayoría de países de América Latina donde es el más popular. Actualmente 
        el número de usuarios aumentó considerablemente situándose en una cuota 
        de mercado cercana al 43 % convirtiéndolo en el navegador más utilizado de 
        todo el planeta.
	</p>
</div>