<!-- content2.html -->
<div class="browser-box">
	<h1>Firefox</h1>
	<p>
        <img src="../../css/g9/ejemplo3/img/firefox-logo.png" alt="Logo Mozilla Firefox" />
        Mozilla Firefox es un navegador web libre y de código abierto desarrollado 
        para Microsoft Windows, Mac OS X y GNU/Linux coordinado por la Corporación 
        Mozilla y la Fundación Mozilla. Usa el motor Gecko para renderizar páginas 
        webs, el cual implementa actuales y futuros estándares web. A partir de 
        agosto de 2012 Firefox tiene aproximadamente un 23% de la cuota de mercado, 
        convirtiéndose en el tercer navegador web más usado, con particular éxito 
        en Indonesia, Alemania y Polonia, donde es el más popular con un 65%, 47% 
        y 47% de uso, respectivamente.
    </p>
    <p>
    	El navegador cambió varias veces de nombre. Originalmente fue llamado Phoenix 
    	cuando, por razones legales, debió ser cambiado al estar ya registrado por 
    	el desarrollador de BIOS Phoenix Technologies. El nombre elegido fue «Firebird» 
    	(Pájaro de Fuego), lo que provocó una polémica por parte la base de datos 
    	Firebird. Sin embargo, la presión constante de la comunidad forzó a que, tras 
    	barajar otros nombres como «Firebird Browser» y «Mozilla Firebird», el 9 de 
    	febrero de 2004 se rebautizara finalmente como Mozilla Firefox, a menudo 
    	referido simplemente como «Firefox» y abreviado como «Fx» o «fx», o más común 
    	como «FF». Este nombre se eligió por su semejanza con Firebird y por ser único 
    	en la industria informática. Para garantizar la estabilidad del nuevo nombre, 
    	la Fundación Mozilla empezó en diciembre de 2003 el procedimiento para su 
    	registro como una marca depositada en Estados Unidos.
    </p>
</div>