* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  margin: 0;
}

body #bg {
  -webkit-clip-path: polygon(0 0, 73% 0, 30% 100%, 0% 100%);
          clip-path: polygon(0 0, 73% 0, 30% 100%, 0% 100%);
  background-color: aqua;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

body header {
  font-size: 1.5rem;
}

body section,
body header {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section input,
body section button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: #f1f1f1;
}

body section button {
  color: aqua;
  background-color: #f1f1f1;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body section button:hover {
  color: #f1f1f1;
  background-color: aqua;
}

body #lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 30%;
}

body #lista p {
  margin: 0.5rem;
  background-color: #f1f1f1;
  color: black;
  font-size: 1.5rem;
  padding: 0rem 0.5rem;
}

body #defin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 30%;
}

body #defin p {
  margin: 0.5rem;
  background-color: #f1f1f1;
  color: black;
  font-size: 1rem;
  max-width: 70%;
  padding: 0rem 0.5rem;
}
/*# sourceMappingURL=style.css.map */