* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}

body {
  margin: 0;

  #bg {
    clip-path: polygon(0 0, 73% 0, 30% 100%, 0% 100%);
    background-color: aqua;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  header {
    font-size: 1.5rem;
  }

  section,
  header {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section input,
  section button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: rgb(241, 241, 241);
  }

  section button {
    color: aqua;
    background-color: rgb(241, 241, 241);
    cursor: pointer;
    transition: all 0.3s ease;
  }

  section button:hover {
    color: rgb(241, 241, 241);
    background-color: aqua;
  }
  #lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30%;

    p {
      margin: 0.5rem;
      background-color: rgb(241, 241, 241);
      color: black;
      font-size: 1.5rem;
      padding: 0rem 0.5rem;
    }
  }
  #defin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30%;

    p {
      margin: 0.5rem;
      background-color: rgb(241, 241, 241);
      color: black;
      font-size: 1rem;
      max-width: 70%;
      padding: 0rem 0.5rem;
    }
  }
}
