@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Lato); 
@font-face {
 font-family: 'YanoneKaffeesatzRegular';
 src: url('../../src/fonts/yanonekaffeesatz/YanoneKaffeesatz-Regular-webfont.eot');
 src: url('../../src/fonts/yanonekaffeesatz/YanoneKaffeesatz-Regular-webfont.eot?#iefix')
format('embedded-opentype'),
 url('../../src/fonts/yanonekaffeesatz/YanoneKaffeesatz-Regular-webfont.woff')
format('woff'),
 url('../../src/fonts/yanonekaffeesatz/YanoneKaffeesatz-Regular-webfont.ttf')
format('truetype'),
 url('../../src/fonts/yanonekaffeesatz/YanoneKaffeesatz-Regularwebfont.svg#YanoneKaffeesatzRegular') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'BebasNeueRegular';
 src: url('../../src/fonts/bebasneue/BebasNeue-webfont.eot');
 src: url('../../src/fonts/bebasneue/BebasNeue-webfont.eot?#iefix') format('embeddedopentype'),
 url('../../src/fonts/bebasneue/BebasNeue-webfont.woff') format('woff'),
 url('../../src/fonts/bebasneue/BebasNeue-webfont.ttf') format('truetype'),
 url('../../src/fonts/bebasneue/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
 font-weight: normal;
 font-style: normal;
}
