* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fd9696;
}

div {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 30%;
}

div label {
  margin-top: 2.5vh;
}

div button {
  margin-top: 2.5vh;
}

#Tabla {
  margin-top: 10vh;
}

#Tabla table {
  border-color: black;
  border-style: solid;
  border-width: 1.25px;
}

#Tabla table caption {
  font-size: 2rem;
  margin-bottom: 2.5vh;
}

#Tabla table tbody td {
  padding: 5px;
}

.none {
  display: none;
}
/*# sourceMappingURL=style.css.map */