* {
  box-sizing: border-box;
}
body {
  background: #fd9696;
}

div {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 30%;
  label {
    margin-top: 2.5vh;
  }
  button {
    margin-top: 2.5vh;
  }
}
#Tabla {
  margin-top: 10vh;
  table {
    border-color: black;
    border-style: solid;
    border-width: 1.25px;

    caption {
      font-size: 2rem;
      margin-bottom: 2.5vh;
    }

    tbody {
      td {
        padding: 5px;
      }
    }
  }
}

.none {
  display: none;
}
