table {
  border-style: inset;
  border-width: 5px;
  border-color: #7baffd;
  float: left;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

table .operacion {
  border-style: solid;
  border-width: 3px;
  border-color: black;
  padding: 15px 5px;
  text-align: right;
}

table th {
  border-style: none none inset inset;
  border-width: 2px;
  border-color: black;
  padding: 5px;
}

table .btn:hover {
  border-width: 1px;
}

table td {
  border-style: none none inset inset;
  border-width: 2px;
  padding: 2.5px;
  border-color: black;
  padding: 5px;
}

table .igual {
  text-align: right;
  font-size: 1.5em;
  padding: 0;
  padding-right: 10px;
}

table td:hover {
  border-width: 1px;
}
/*# sourceMappingURL=calculadora.css.map */