table{
    border-style: inset ;
    border-width: 5px;
    border-color: rgba($color: #7baffd, $alpha: 1.0);
    float: left;
    padding: 20px;
    border-radius: round($number: 10px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
    .operacion{
        border-style: solid ;
        border-width: 3px;
        border-color: black;
        padding: 15px 5px;
        text-align: right;
    }

    th{
        border-style: none none inset inset ;
        border-width: 2px;
        border-color: black;
        padding: 5px;
    }

    .btn:hover{
        border-width: 1px;
    }

    td{
        border-style: none none inset inset ;
        border-width: 2px;
        padding: 2.5px;
        border-color: black;
        padding: 5px;
    }

    .igual{
        text-align: right;
        font-size: 1.5em;
        padding: 0;
        padding-right: 10px;
    }

    td:hover{
        border-width: 1px;
    }
}