body{
    margin: 0;
    top: 0;
    left: 0;
    background-color: #92ddff;
}

.main{
    padding: 2.5%;

    h3{
        font-size: 2em;
    }

    #index{
        position: sticky;
        top: 5vh;
        right: 15vw;
        background-color: white;
        border-radius: round($number: 5px);
    }

    .code{
        margin: 1%;
        padding: 1.5%;
        background-color: #000000;
        color: green;
        border-radius: round($number: 10px);
    }

    .btn{
        margin: 10px;
        padding: 15px;
        background-color: rgb(139, 139, 255);
        border-radius: round($number: 5px);
    }
}