body {
  margin: 0;
  top: 0;
  left: 0;
  background-color: #92ddff;
}

.main {
  padding: 2.5%;
}

.main h3 {
  font-size: 2em;
}

.main #index {
  position: -webkit-sticky;
  position: sticky;
  top: 5vh;
  right: 15vw;
  background-color: white;
  border-radius: 5px;
}

.main .code {
  margin: 1%;
  padding: 1.5%;
  background-color: #000000;
  color: green;
  border-radius: 10px;
}

.main .btn {
  margin: 10px;
  padding: 15px;
  background-color: #8b8bff;
  border-radius: 5px;
}
/*# sourceMappingURL=clausuras.css.map */