*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}

main{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 250px 1fr 100px;
    grid-template-columns: 10px 1fr 100px;
    grid-template-areas: ". form ." ". tabla ." ". . .";
}

#form{
    grid-area: form;
    display: flex;
    flex-direction:column ;
    align-items: center;
    align-content: center ;
    justify-content: space-around;
}

#tablaContainer{
    grid-area: tabla;
    display: flex;
    flex-direction:column ;
    align-items: center;
    align-content: center ;
    justify-content: space-around;
}

td{
    border: solid;
    border-color: black;
}