*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

main{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". . ." ". centro ." ". . .";
    #centro{
        grid-area: centro;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center ;
        justify-content: space-around;
    }
}