*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 25% 50% 25% ;
    grid-template-columns: 25% 50% 25% ;
    grid-template-areas: ". parr ." ". form ." ". . .";
}
#form{
    grid-area: form;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: start;
}
#parrafo{
    grid-area: parr;
}
.estilo1{
    color: red;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-self:center;
    align-content: center;
    justify-content: flex-start;
}
.estilo2{
    color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}
.estilo3{
    color: brown;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    justify-self: flex-end;
}