@font-face {
	font-family: 'Chunkfive';
	src: url('../fonts/Chunkfive.eot');
	src: local('CabinBold'), 
	     url('../fonts/Chunkfive.eot?#iefix') format('embedded-opentype'), 
	     url('../fonts/Chunkfive.woff') format('woff'), 
	     url('../fonts/Chunkfive.ttf') format('truetype'),
	     url('../fonts/Chunkfive.svg#Chunkfive') format('svg');
	font-weight: bold; 
    font-style: normal; 
}

@font-face {
	font-family: 'LeagueGothic-Regular';
	src: url('../fonts/LeagueGothic-Regular.eot');
	src: local('LeagueGothic-Regular'), 
	     url('../fonts/LeagueGothic-Regular.eot?#iefix') format('embedded-opentype'), 
	     url('../fonts/LeagueGothic-Regular.woff') format('woff'), 
	     url('../fonts/LeagueGothic-Regular.ttf') format('truetype'),
	     url('../fonts/LeagueGothic-Regular.svg#Chunkfive') format('svg');
	font-weight: bold; 
    font-style: normal; 
}
@font-face {
    font-family: 'LatoBlack';
    src: url('../fonts/lato/Lato-Black.eot'); /* IE9 Compat Modes */
    src: url('../fonts/lato/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato/Lato-Black.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato/Lato-Black.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/lato/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/lato/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato/Lato-Light.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}