* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
main {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 100px 1fr 100px;
  grid-template-areas: ". form ." ". grafica ." ". . .";
}

#form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

#responsive{
    grid-area: grafica;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#divgrafica {
    width: 40%;
}
